@import 'variables';

#Info {
	color: $white;
	text-align: center;
	width: 100%;
	.Info-content {
		width: 37rem;
		margin: 0 auto;
		text-align: left;
	}

	h1 {
		text-transform: uppercase;
		font-size: 2rem;
		letter-spacing: .2rem;
		text-align: center;
	}

	h1, 
	.Info-question,
	.Info-answer {
		text-align: center;
	}

	.Info-question,
	.Info-answer {
		font-style: italic;
		padding: .5rem;
		color: $white;
		display: flex;
		text-align: left;
		align-items: center;
		margin-top: 1rem;
	}

	.Info-qa-symbol {
		font-weight: bold;
		font-style: initial;
		color: $white;
		font-size: 3rem;
		margin-right: 1rem;
		opacity: .3;
	}

	.Info-question-answer {
		border-bottom: .2rem solid $green;
	}

	.Info-instructions {
		text-align: center;
	}
}



@media all and (max-width: $break-tablet-h) {
	#Info {
		h1 {
			line-height: 2.5rem;
		}
		.Info-content {
			width: 100%;
		}
		.Info-qa-symbol {
			color: $green;
			opacity: 1;
			margin-right: .5rem;
			font-size: 2rem;
		}
		.Info-question-answer {
			border-bottom: none;
		}
	}
}

@media all and (max-width: $break-small-h) {
	#Info {

		.Info-question,
		.Info-answer {
			span {
				font-weight: 700;
				display: block;
			}
		}
	}
}
