$orange: #F4976C;
$yellow: #FBE8A6;
$darkblue: #303C6C;
$lightblue: #B4DFE5;

$break-tablet-h: 1025px;
$break-tablet-v: 768px;
$break-small-h: 600px;
$break-small-v: 480px;

.copy-orange {
	color: $orange;
}

.copy-yellow {
	color: $yellow;
}

.copy-darkblue {
	color: $darkblue;
}

.copy-lightblue {
	color: $lightblue;
}


