$green: #39C463;
$slate: #8298AB;
$black: #000000;
$white: #FFFFFF;

$break-tablet-h: 1025px;
$break-tablet-v: 768px;
$break-small-h: 600px;
$break-small-v: 480px;

.copy-green {
	color: $green;
}

.copy-slate {
	color: $slate;
}

.copy-black {
	color: $black;
}

.copy-white {
	color: $white;
}


